{% load static %}
<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>Testing out the Template System</title>
    <style>
        .row {
            background-color: lightskyblue;
        }

        .altrow {
            background-color: lightgray;
        }

        table td {
            text-align: center;
        }
    </style>
</head>

<body>
    <h1>Templates Demo File</h1>
    <h2>Comment Tag</h2>
    <!-- This is a normal HTML comment which shows in your browser
source-->
    {% comment "this won't show at all in your browser source" %}
    <p>Three six nine, the goose drank wine</p>
    {% endcomment %}
</body>

</html>